*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

html {
  background: hotpink;
  height: 100vh;
}

body {
  background: rgb(0, 60, 0);
  font-family: var(--tipo-principal);
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#app {
  /* min-width: 600px; */
  /*margin: auto;*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3rem 50rem;
  height: 100%;
}

.controls {
  /* padding: 2rem 0rem; */
  /* width: 41rem;
  margin: auto;  */
  justify-self: center;
  grid-column: 2 / 5;
}

button {
  background-color: #14723c;
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  margin-top: 1.2em;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  height: 40px;
  width: 135px;
}

button:disabled {
  background-color: #14723d5d;
  color: rgba(255, 255, 255, 0.39);
}
button:disabled:hover {
  border-color: transparent;
}

button:hover {
  border-color: #23c769;
}

.new-game {
  background-color: #73154a;
  grid-column-start: 2;
}

.new-game:hover {
  border-color: #eba5f2;
}

.game-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  /* grid-auto-rows: 24rem; */
  margin: 3rem 0rem 0rem 0rem;
  grid-column: 2 / 5;
  /* justify-self: center; */
  grid-row: 2 / -1;
}

h2 {
  display: inline;
}

hr {
  border: 1px solid rgba(20, 114, 61, 0.1);
}

.player1,
.player2,
.player3,
.player4,
.computer {
  /* margin: 0rem 0rem 0rem 1rem;
  padding: 0rem 0rem 1rem 0rem; */
}

.cards {
  display: inline;
  max-height: 20rem;
  margin: 1rem -11rem 0rem 0rem;
}

@media (max-width: 710px) {
  #app {
    /* width: 350px;
    min-width: 300px; */
    font-size: 12px;
    grid-template-rows: 3rem 34rem;
  }

  button {
    font-size: 12px;
    width: 110px;
  }
  .controls {
    grid-column: 1 / 6;
  }

  .cards {
    /* display: inline; */
    max-height: 10rem;
    margin: 1rem -5.5rem 0rem 0rem;

    /* margin: 1rem -11rem 0rem 0rem; */
  }
}
