*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

html {
  background: hotpink;
  height: 100vh;
}

body {
  background: rgb(0, 60, 0);
  font-family: var(--tipo-principal);
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#app {
  width: 768px;
  margin: auto;
  height: 100%;
}

.controls {
  padding: 2rem 0rem;
  width: 363px;
  margin: auto;
}

button {
  background-color: #14723c;
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  margin-top: 1.2em;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #14723d5d;
  color: rgba(255, 255, 255, 0.39);
}
button:disabled:hover {
  border-color: transparent;
}

button:hover {
  border-color: #23c769;
}

.new-game {
  background-color: #73154a;
}

.new-game:hover {
  border-color: #eba5f2;
}

.game-table {
  display: grid;
}

h2 {
  display: inline;
}

hr {
  border: 1px solid rgba(20, 114, 61, 0.2);
}

.player1,
.player2,
.player3,
.player4,
.computer {
  padding: 0rem 0rem 1rem 0rem;
}

.cards {
  display: inline;
  height: 20rem;
  margin: 1rem -11rem 0rem 0rem;
}
