*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --tipo-principal: fantasy, Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

html {
  height: 100vh;
}

body {
  background: rgb(0, 60, 0);
  font-family: var(--tipo-principal);
  font-weight: lighter;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  margin: 0;
  min-width: 340px;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3rem 50rem;
  height: 100%;
}

.controls {
  grid-column: 2 / 5;
  height: 10vh;
  justify-self: center;
}

button {
  background-color: #14723c;
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  height: 40px;
  margin-top: 1.2em;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  width: 135px;
}

button:disabled {
  background-color: #14723d5d;
  color: rgba(255, 255, 255, 0.39);
}
button:disabled:hover {
  border-color: transparent;
}

button:hover {
  border-color: #23c769;
}

.new-game {
  background-color: #73154a;
  grid-column-start: 2;
}

.new-game:hover {
  border-color: #eba5f2;
}

.game-table {
  display: grid;
  grid-auto-rows: 24rem;
  grid-column: 2 / 5;
  grid-row: 2 / -1;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  height: 80vh;
  justify-items: center;
  margin: 1rem 0rem 0rem 0rem;
  overflow-y: scroll none;
  width: 100vw;
}

h2 {
  display: inline;
}

.player1,
.player2,
.player3,
.computer {
  margin: 1rem 0rem 0rem 0rem;
}

.cards {
  display: inline;
  margin: 1rem -11rem 0rem 0rem;
  max-height: 20rem;
}

@media (max-width: 710px) {
  #app {
    font-size: 12px;
    grid-template-rows: 3rem 34rem;
  }

  button {
    font-size: 12px;
    width: 110px;
  }
  .controls {
    grid-column: 1 / 6;
  }

  .game-table {
    grid-auto-rows: 13.5rem;
  }

  .cards {
    margin: 1rem -5.5rem 0rem 0rem;
    max-height: 10rem;
  }
}

.flicker {
  animation: flicker 0.6s ease-in-out infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px #23c769;
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #23c769;
  }
}
